html, body {
    height: 50rem;
    width: 100vw;
    overflow-x: hidden;
    background-color: #262534;
    font-family: 'Inter', sans-serif;
}

* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    display: block;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

#canvas {
    position: absolute;
    height: 48rem;
    width: 27rem;
    top: 2rem;
    left: calc(50vw - 13.5rem);
    background-color: #393663;
    overflow: hidden;
}

#background {
    position: absolute;
    height: 100%;
    width: 100%;
}

#background img {
    position: absolute;
}

#background .sky {
    height: 100%;
}

#background #night.sky {
    opacity: 0;
    transition: all 1s linear;
}

#background .base {
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

#start-menu {
    visibility: hidden;
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
}

#start-menu img {
    width: 100%;
}

#game {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

#game img {
    width: 100%;
}

#bird {
    position: absolute;
    width: 15%;
    left: 42.5%;
}

.pipe {
    position: absolute;
    width: 20%;
}

.pipe .upper {
    rotate: 180deg;
}

.pipe .lower {
    padding-top: 200%;
    box-sizing: border-box;
}

#score {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 10%;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#score img {
    height: 100%;
    width: auto;
}

#game-over {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Visitor TT1 BRK', 'Inter', sans-serif;
}

#game-over #heading {
    width: 100%;
    height: auto;
    margin-bottom: 10%;
}

#game-over #container {
    display: flex;
    padding: 10%;
    width: 80%;
    margin-bottom: 10%;
    background-color: #ded793;
    border-radius: 1rem;
    outline: black solid 0.25rem;
    font-size: 150%;
    text-align: center;
}

#game-over #container div {
    flex-grow: 1;
}

#game-over #container .text {
    margin-bottom: 5%;
}

#game-over #container .text span {
    padding: 0 0.125rem 0 0.25rem;
    margin-right: 0.375rem;
    color: #fff;
    background-color: #fc3501;
}

#game-over #container .number {
    display: flex;
    justify-content: center;
    column-gap: 0.167rem;
}

#game-over #container .number div {
    flex-grow: 0;
}

#game-over #container .number img {
    height: 1.5rem;
}

#game-over #continue {
    font-size: 150%;
    text-align: center;
    text-shadow:
            -2px -2px 0 #fff,
            -2px  0   0 #fff,
            -2px  2px 0 #fff,
             0   -2px 0 #fff,
             0    2px 0 #fff,
             2px -2px 0 #fff,
             2px  0   0 #fff,
             2px  2px 0 #fff;
    margin-bottom: 10%;
}

@media (max-width: 1000px) and (min-aspect-ratio: 9/20) and (max-aspect-ratio: 3/4) {
    html, body {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    #canvas {
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
    }

    #background .sky {
        position: absolute;
        width: 100%;
        object-fit: cover;
        bottom: 0;
    }

    .pipe .lower {
        padding-top: 225%;
    }
}